@tailwind base;
@tailwind components;
@tailwind utilities;

.icon_section-H {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #FFFFFF;
    box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
    color: black;
    text-decoration: none;
}

.icon_section-H span {
    font-weight: 600;
    font-size: 25px;
    font-family: "Archivo";
}
.service-label{
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
}
.input-service{
    width: 95%;
    margin: auto;
}
.room-number{
    width: 85px;
    border-radius: 4px;
}
.order-type{
    width: 100px;
    border-radius: 4px;
}
.order-description{
    min-width: 300px;
    border-radius: 4px;
}
.table-row:hover{
    transform: scale(1.01);
    box-shadow: 0px 14px 24px 0px rgba(215, 191, 143, 0.43);
}